html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    color: #374151;
}

header {
    background: linear-gradient(135deg, #3b82f6, #7c3aed);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    color: #1e293b;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

nav #ul-1 {
    font-size: 20px;
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.menuItem{
    margin: 0;
}
.menuLink {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.menuLink:hover {
    color: #000000;
}

#h1-2 {
    text-align: center;
    color: #1e293b;
    margin: 30px 0;
}

div {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px auto;
    width: 1000px;
}

img {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

ol, #ul-2 {
    margin: 30px auto;
    max-width: 800px;
    padding: 25px 35px;
    border-radius: 15px;
    background: #ffffff;
    border: 6px solid #3b82f6;
}
.ol{
    background-color: #f3f4f6;
    border-style: none;
}
li {
    margin: 10px;
}
footer {
    background: linear-gradient(135deg, #3b82f6, #7c3aed);
    color: white;
    padding: 15px;
    text-align: center;
}